name: npm Publish

on:
    push:
        branches: [main]
    release:
        types: [published]

permissions:
    # Necessary for OIDC permissions for trusted publishing
    id-token: write

jobs:
    publish-dev:
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Use Node.js 22
              uses: actions/setup-node@v6
              with:
                  node-version: 22.20.0
                  # More info: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages#publishing-packages-to-the-npm-registry
                  registry-url: 'https://registry.npmjs.org'
            - name: Use node_modules cache
              uses: actions/cache@v4
              with:
                  path: node_modules
                  key: yarn-node-22-lock-${{ hashFiles('yarn.lock') }}
                  restore-keys: |
                      yarn-node-22-lock-
            - run: yarn install --frozen-lockfile
            - run: yarn build
            - uses: actions/upload-artifact@v4
              with:
                  name: build-output
                  path: dist
                  if-no-files-found: error
            - uses: martinbeentjes/npm-get-version-action@v1.3.1
              id: package-version
            - run: yarn version --no-git-tag-version --new-version ${{ steps.package-version.outputs.current-version }}-dev.${{ github.sha }}
              # npm install -g npm@latest is necessary to make provenance available (available since v9.6.5 or so). More info: https://docs.npmjs.com/generating-provenance-statements
            - run: npm install -g npm@latest
            - run: npm publish --access public --tag dev

    publish-prod:
        if: github.event_name == 'release' && github.event.action == 'published'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Use Node.js 22
              uses: actions/setup-node@v6
              with:
                  node-version: 22.20.0
                  # More info: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages#publishing-packages-to-the-npm-registry
                  registry-url: 'https://registry.npmjs.org'
            - name: Use node_modules cache
              uses: actions/cache@v4
              with:
                  path: node_modules
                  key: yarn-node-22-lock-${{ hashFiles('yarn.lock') }}
                  restore-keys: |
                      yarn-node-22-lock-
            - run: yarn install --frozen-lockfile
            - run: yarn lint
            - run: yarn test
            - run: yarn build
            - uses: actions/upload-artifact@v4
              with:
                  name: build-output
                  path: dist
                  if-no-files-found: error
            - run: yarn test:exports
              # npm install -g npm@latest is necessary to make provenance available (available since v9.6.5 or so). More info: https://docs.npmjs.com/generating-provenance-statements
            - run: npm install -g npm@latest
            - run: npm publish
